* {
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    box-sizing: border-box;
}

.bottom-bar, .bottom-bar-background{
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1.5vw;
    color: seashell;
    border-radius: 2vw;
    margin: 1vw;
    /* box-shadow: 4px 4px 2px 1px rgba(218, 22, 8, 0.2); */
    border: 4px solid  rgba(0,0,0, 0.5);
}

.bottom-bar-background {
    background-color: black;
    opacity: .5;
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.black {
    display: none;
    background-color: black;
    opacity: .0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    color: blanchedalmond;
}

.logo-background{
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    color: blue;
    text-align: center;
    line-height: 100vh;
    width: 100vw;
    cursor: pointer;
    user-select: none;
}
.logo{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('images/Samu-Logo.2.png');
    background-size: auto 70%;
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
}