* {
    padding: 0em;
    margin: 0em;
    overflow: hidden;
    box-sizing: border-box;
}

.bottom-bar, .bottom-bar-background {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 1.5vw;
    color: seashell;
    border-radius: 2vw;
    margin: 1vw;
    /* box-shadow: 4px 4px 2px 1px rgba(218, 22, 8, 0.2); */
    border: 4px solid rgba(0, 0, 0, 0.5);
}

.bottom-bar-background {
    background-color: black;
    opacity: .5;
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.black {
    display: none;
    background-color: black;
    opacity: .0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    color: blanchedalmond;
}

.logo-background {
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    color: rgb(49, 49, 49);
    text-align: center;
    line-height: 100vh;
    width: 100vw;
    cursor: pointer;
    user-select: none;
}

.logo {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background-image: url('images/Samu-Logo.2.png'); */
    background-image: url('img/Pergamino.2.png');
    background-size: auto 50%;
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    color: white;
    line-height: 100vh;
    font-size: 4em;
    text-align: center;
    /**/
    font-family: 'gotic';
    font-weight: bold;
    color: red;
    text-shadow: 0 1px 0 #ff0, 0 2px 0 #ff0, 0 3px 0 #ff0, 0 4px 0 #ff0, 0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    /* -webkit-filter: blur(8px);
    filter: blur(8px); */
}

/*ANIMATIONS*/



/*LOGO FADE IN => FADE OUT */

.logo-fadeIn {
    animation-name: fadeInLogo;
    animation-duration: 3.5s;
}

@keyframes fadeInLogo {
    0% {
        opacity: 0;
        -webkit-filter: blur(8px);
        filter: blur(8px);
    }
    20% {
        opacity: 1;
    }
   

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*LOGO-BACKGROUND FADE OUT */

.logo-background-fadeOut {
    animation-name: fadeOutFromBlack;
    animation-duration: 7s;
}

@keyframes fadeOutFromBlack {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.arrow-container {
    transform: rotateZ(45deg);
    z-index: 10;
    position: fixed;
    top: 150px;
    left: 150px;
}

#flecha {
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
}