.web-container .nav {
    background-color: #333333;
}

.web-container .nav>ul {
    display: flex;
    justify-content: flex-end;
}

.web-container .nav>ul>li {
    padding: 0.25em;
}

.web-container .nav>ul>li>a {
    color: orange;
    text-shadow: 1px 1px 2px red;
    font-size: .7em;
    padding-left: .5em;
}

.web-container .nav>ul>li>a:hover {
    color: yellow;
    text-shadow: 1px 1px 2px red;
}

.web-container .nav>ul>li:last-of-type>a {
    color: yellow;
}

/*Delete from here*/

.web-container * {
    list-style: none;
    text-decoration: none;
}

/* body {
    font-family: sans-serif;
    font-size: 15px;
} */

.web-container {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: white;
    font-family: 'gotic';
    font-size: 1.5em;
    padding: auto 50px;
    overflow-y: scroll;
}

.web-container h1 {
    margin-top: 15px;
    font-size: 3em;
    color: red;
    text-shadow: 2px 2px 4px yellow;
}

.web-container b, .web-container strong {
    color: white;
    text-shadow: 1px 1px 2px red;
}

.web-container p {
    text-align: justify;
    color: rgb(49, 31, 8);
    text-shadow: 1px 1px 2px white;
}

/**/

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}

.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}